
<form [formGroup]="permanentForm" #permanent="ngForm">
    <!-- <mat-card-content class=""> -->
        <div>
            <mat-checkbox [formControl]="disableSelect">correspondence address same as permanent address</mat-checkbox>
        </div>
        <div>
            <mat-card-subtitle>Permanent Address</mat-card-subtitle>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Street Address" [disabled]="disableSelect.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Apartment/Unit #" [disabled]="disableSelect.value">
            </mat-form-field>
        <!-- </div>
        <div> -->
            <mat-form-field>
                <input matInput placeholder="City" [disabled]="disableSelect.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="State" [disabled]="disableSelect.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="PIN Code" [disabled]="disableSelect.value">
            </mat-form-field>
        </div>
        <!-- <p>
            <mat-form-field>
                <input matInput placeholder="Home Phone">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Mobile Phone" formControlName="mobilePhone" [class.is-invalid]="permanent.submitted && permanentForm.get('mobilePhone')?.invalid">
                <mat-error class="invalid-feedback">
                    Mobile number is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email"  [class.is-invalid]="permanent.submitted && permanentForm.get('email')?.invalid">
                <mat-error class="invalid-feedback">
                    Email is required
                </mat-error>
            </mat-form-field>
        </p> -->
    <!-- </mat-card-content> -->
</form>